main {
	align-items: center; 
	justify-content: center;
	padding: 0;
}

h1 { 
	position: absolute; 
	top: 1em;
	font-size: 1.4em;
}

h2 {
	font-size: 1.2em;
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	margin: 2em;
	background: var(--color-background);
	border: 2px solid var(--color-border);
	box-shadow: 4px 4px 0 var(--color-shadow);
}

.warning {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(150%);
	display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 2em 2em;
	margin: 2em;
	color: var(--color-background);
	background-color: var(--color-failure);
	box-shadow: 4px 4px 0 var(--color-shadow);
	font-size: 0.8em;
}

canvas {
	width: 95%;
	height: 95%;
	background: var(--color-border);
	box-shadow: 8px 8px 0 var(--color-shadow);
	image-rendering: pixelated;
}

@media (max-width: 700px) {
	.warning { display: flex; }
}

