* {
    overflow: hidden;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 4rem;
    color: slategray;
    font-weight: 800;
    font-family:'Courier New', Courier, monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#main {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    background-color: darkslategray;
    text-align: center;
    padding: 8px 16px;
    margin: 2px;
    border-radius: 4px;
    width: 90%;
}