.container {
	display: flex;
	flex-direction: row;
	gap: 3em;
	margin-bottom: 4em;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 1em;
	background: var(--color-background);
	border: 2px solid var(--color-border);
	box-shadow: 6px 6px 0 var(--color-shadow);
}

.info { width: 70%; }

.tester {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0008;
	z-index: 200;
}

.tester .tester-container {
	display: flex;
	flex-grow: 1;
	flex-grow: 1;
	flex-direction: column;
	padding: 1em;
	margin: 4em;
	background: var(--color-background);
	box-shadow: 8px 8px 0 var(--color-shadow);
}

canvas {
	height: 20%;
	margin-top: 1em;
	flex-grow: 1;
	background: #fff2;
}

.generator {
	margin-bottom: 1em;
}

@media (max-width: 600px) {
	.tester .tester-container { margin: 1em; }
}

@media (max-width: 805px) {
	.container { align-items: center; flex-direction: column-reverse; }
	.controls { width: fit-content; }
}

