* {
    padding: 0px;
    margin: 0px;
    font-family: monospace;
}

#ascii {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

.col {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-right: none;
    padding: 2px;
}

#d {
    border-right: 1px black solid;
}

#h {
    border-right: 1px black solid;
}

#extended {
    display: flex;
    flex-direction: row;
    margin: 2px;
}

#title {
    padding: 8px;
}