* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

canvas {
    border-bottom: 2px white solid;
}

#container {
    border: 2px white solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#controls {
    display: flex;
    color: white;
    padding: 2px;
}